In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
from dagster import execute_pipeline

In [4]:
from processing_pipeline import process_show_notes

In [5]:
result = execute_pipeline(process_show_notes)

2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - PIPELINE_START - Started execution of pipeline "process_show_notes".
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - ENGINE_EVENT - Executing steps in process (pid: 20233)
 event_specific_data = {"error": null, "marker_end": null, "marker_start": null, "metadata_entries": [["pid", null, ["20233"]], ["step_keys", null, ["['read_show_notes.compute', 'explode_people_mentioned.compute', 'extract_mentioned_peoples_names.compute', 'remove_missing_names.compute', 'clean_mentioned_peoples_full_names.compute', 'parse_mentioned_people_names.compute']"]]]}
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_START - Started execution of step "read_show_notes.compute".
               solid = "read_show_notes"
    solid_definition = "read_show_notes"
            step_key = "read_show_notes.compute"
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_OUTPUT - Yielded output "result" of type "Any". (Type check passed).
 event_specific_data = {"intermediate_materialization": null, "step_output_handle": ["read_show_notes.compute", "result"], "type_check_data": [true, "result", null, []]}
               solid = "read_show_notes"
    solid_definition = "read_show_notes"
            step_key = "read_show_notes.compute"
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_SUCCESS - Finished execution of step "read_show_notes.compute" in 71ms.
 event_specific_data = {"duration_ms": 71.21523499999994}
               solid = "read_show_notes"
    solid_definition = "read_show_notes"
            step_key = "read_show_notes.compute"
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_START - Started execution of step "explode_people_mentioned.compute".
               solid = "explode_people_mentioned"
    solid_definition = "explode_people_mentioned"
            step_key = "explode_people_mentioned.compute"
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_INPUT - Got input "df" of type "Any". (Type check passed).
 event_specific_data = {"input_name": "df", "type_check_data": [true, "df", null, []]}
               solid = "explode_people_mentioned"
    solid_definition = "explode_people_mentioned"
            step_key = "explode_people_mentioned.compute"
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_OUTPUT - Yielded output "result" of type "Any". (Type check passed).
 event_specific_data = {"intermediate_materialization": null, "step_output_handle": ["explode_people_mentioned.compute", "result"], "type_check_data": [true, "result", null, []]}
               solid = "explode_people_mentioned"
    solid_definition = "explode_people_mentioned"
            step_key = "explode_people_mentioned.compute"
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_SUCCESS - Finished execution of step "explode_people_mentioned.compute" in 9.16ms.
 event_specific_data = {"duration_ms": 9.162960999999914}
               solid = "explode_people_mentioned"
    solid_definition = "explode_people_mentioned"
            step_key = "explode_people_mentioned.compute"
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_START - Started execution of step "extract_mentioned_peoples_names.compute".
               solid = "extract_mentioned_peoples_names"
    solid_definition = "extract_mentioned_peoples_names"
            step_key = "extract_mentioned_peoples_names.compute"
2020-04-18 19:51:15 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_INPUT - Got input "df" of type "Any". (Type check passed).
 event_specific_data = {"input_name": "df", "type_check_data": [true, "df", null, []]}
               solid = "extract_mentioned_peoples_names"
    solid_definition = "extract_mentioned_peoples_names"
            step_key = "extract_mentioned_peoples_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_OUTPUT - Yielded output "result" of type "Any". (Type check passed).
 event_specific_data = {"intermediate_materialization": null, "step_output_handle": ["extract_mentioned_peoples_names.compute", "result"], "type_check_data": [true, "result", null, []]}
               solid = "extract_mentioned_peoples_names"
    solid_definition = "extract_mentioned_peoples_names"
            step_key = "extract_mentioned_peoples_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_SUCCESS - Finished execution of step "extract_mentioned_peoples_names.compute" in 3.15s.
 event_specific_data = {"duration_ms": 3148.070388}
               solid = "extract_mentioned_peoples_names"
    solid_definition = "extract_mentioned_peoples_names"
            step_key = "extract_mentioned_peoples_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_START - Started execution of step "remove_missing_names.compute".
               solid = "remove_missing_names"
    solid_definition = "remove_missing_names"
            step_key = "remove_missing_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_INPUT - Got input "df" of type "Any". (Type check passed).
 event_specific_data = {"input_name": "df", "type_check_data": [true, "df", null, []]}
               solid = "remove_missing_names"
    solid_definition = "remove_missing_names"
            step_key = "remove_missing_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_OUTPUT - Yielded output "result" of type "Any". (Type check passed).
 event_specific_data = {"intermediate_materialization": null, "step_output_handle": ["remove_missing_names.compute", "result"], "type_check_data": [true, "result", null, []]}
               solid = "remove_missing_names"
    solid_definition = "remove_missing_names"
            step_key = "remove_missing_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_SUCCESS - Finished execution of step "remove_missing_names.compute" in 4.32ms.
 event_specific_data = {"duration_ms": 4.319036999999248}
               solid = "remove_missing_names"
    solid_definition = "remove_missing_names"
            step_key = "remove_missing_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_START - Started execution of step "clean_mentioned_peoples_full_names.compute".
               solid = "clean_mentioned_peoples_full_names"
    solid_definition = "clean_mentioned_peoples_full_names"
            step_key = "clean_mentioned_peoples_full_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_INPUT - Got input "df" of type "Any". (Type check passed).
 event_specific_data = {"input_name": "df", "type_check_data": [true, "df", null, []]}
               solid = "clean_mentioned_peoples_full_names"
    solid_definition = "clean_mentioned_peoples_full_names"
            step_key = "clean_mentioned_peoples_full_names.compute"
/Users/kp/Projects/tim_ferriss_show_people/processing_pipeline.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = (
/Users/kp/Projects/tim_ferriss_show_people/processing_pipeline.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = (
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_OUTPUT - Yielded output "result" of type "Any". (Type check passed).
 event_specific_data = {"intermediate_materialization": null, "step_output_handle": ["clean_mentioned_peoples_full_names.compute", "result"], "type_check_data": [true, "result", null, []]}
               solid = "clean_mentioned_peoples_full_names"
    solid_definition = "clean_mentioned_peoples_full_names"
            step_key = "clean_mentioned_peoples_full_names.compute"

2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_SUCCESS - Finished execution of step "clean_mentioned_peoples_full_names.compute" in 34ms.
 event_specific_data = {"duration_ms": 34.692877000000344}
               solid = "clean_mentioned_peoples_full_names"
    solid_definition = "clean_mentioned_peoples_full_names"
            step_key = "clean_mentioned_peoples_full_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_START - Started execution of step "parse_mentioned_people_names.compute".
               solid = "parse_mentioned_people_names"
    solid_definition = "parse_mentioned_people_names"
            step_key = "parse_mentioned_people_names.compute"
2020-04-18 19:51:18 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_INPUT - Got input "df" of type "Any". (Type check passed).
 event_specific_data = {"input_name": "df", "type_check_data": [true, "df", null, []]}
               solid = "parse_mentioned_people_names"
    solid_definition = "parse_mentioned_people_names"
            step_key = "parse_mentioned_people_names.compute"
/Users/kp/Projects/tim_ferriss_show_people/processing_pipeline.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['parsed_name'] = (
2020-04-18 19:51:22 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_OUTPUT - Yielded output "result" of type "Any". (Type check passed).
 event_specific_data = {"intermediate_materialization": null, "step_output_handle": ["parse_mentioned_people_names.compute", "result"], "type_check_data": [true, "result", null, []]}
               solid = "parse_mentioned_people_names"
    solid_definition = "parse_mentioned_people_names"
            step_key = "parse_mentioned_people_names.compute"
2020-04-18 19:51:22 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - STEP_SUCCESS - Finished execution of step "parse_mentioned_people_names.compute" in 3.77s.
 event_specific_data = {"duration_ms": 3771.892235000001}
               solid = "parse_mentioned_people_names"
    solid_definition = "parse_mentioned_people_names"
            step_key = "parse_mentioned_people_names.compute"
2020-04-18 19:51:22 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - ENGINE_EVENT - Finished steps in process (pid: 20233) in 7.06s
 event_specific_data = {"error": null, "marker_end": null, "marker_start": null, "metadata_entries": [["pid", null, ["20233"]], ["step_keys", null, ["['read_show_notes.compute', 'explode_people_mentioned.compute', 'extract_mentioned_peoples_names.compute', 'remove_missing_names.compute', 'clean_mentioned_peoples_full_names.compute', 'parse_mentioned_people_names.compute']"]]]}
2020-04-18 19:51:22 - dagster - DEBUG - process_show_notes - 3dd04f7b-2e54-4f5d-ae8d-ac150db9d472 - PIPELINE_SUCCESS - Finished execution of pipeline "process_show_notes".

In [6]:
dir(result)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_construct_events_by_step_key',
 '_events_by_step_key',
 'event_list',
 'events_by_step_key',
 'output_for_solid',
 'pipeline',
 'reconstruct_context',
 'result_for_handle',
 'result_for_solid',
 'run_id',
 'solid_result_list',
 'step_event_list',
 'success']

In [7]:
df = result.result_for_solid('parse_mentioned_people_names').output_value()

In [8]:
df

,parsed_title,parsed_first,parsed_middle,parsed_last,parsed_suffix,parsed_nickname
0,,Margaret,Myfanwe,Joseph,,Vanne
0,,Mortimer,,Morris-Goodall,,
0,,Derek,,Bryceson,,
0,,Louis,,Leakey,,
0,,Mary,,Leakey,,
...,...,...,...,...,...,...
377,,Hazelden,Treatment,Center,,
379,,Henry,David,Thoreau,,
379,,Ayn,,Rand,,
379,,Anne,,Lamott,,
379,,Kurt,,Vonnegut,,

In [9]:
df = df.reset_index()
df = df.rename(columns={'index': 'origional_index'})

In [10]:
import recordlinkage

In [11]:
# Make record pairs, one for every combination of records
indexer = recordlinkage.Index()
indexer.full()
candidate_links = indexer.index(df)

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [12]:
print (len(df), len(candidate_links))

6876 23636250

In [13]:
compare_cl = recordlinkage.Compare()
compare_cl.string('parsed_first', 'parsed_first', threshold=0.85, label='first_name')
compare_cl.string('parsed_last', 'parsed_first', threshold=0.85, label='surname')

features = compare_cl.compute(candidate_links, df)

In [14]:
features.head(10)

     first_name  surname
1 0         0.0      0.0
2 0         0.0      0.0
  1         0.0      0.0
3 0         0.0      0.0
  1         0.0      0.0
  2         0.0      0.0
4 0         0.0      0.0
  1         0.0      0.0
  2         0.0      0.0
  3         0.0      0.0

In [15]:
matches = features[features.sum(axis=1) > 1.9]
matches

           first_name  surname
1247 880          1.0      1.0
4326 880          1.0      1.0
     1247         1.0      1.0

In [16]:
merged_results = matches.reset_index()
merged_results

   level_0  level_1  first_name  surname
0     1247      880         1.0      1.0
1     4326      880         1.0      1.0
2     4326     1247         1.0      1.0

In [17]:
df.head()

,origional_index,parsed_title,parsed_first,parsed_middle,parsed_last,parsed_suffix,parsed_nickname
0,0,,Margaret,Myfanwe,Joseph,,Vanne
1,0,,Mortimer,,Morris-Goodall,,
2,0,,Derek,,Bryceson,,
3,0,,Louis,,Leakey,,
4,0,,Mary,,Leakey,,

In [18]:
pc = df.reset_index()
pc = pc.rename(columns={'index': 'comparison_index'})
pc.head()

,comparison_index,origional_index,parsed_title,parsed_first,parsed_middle,parsed_last,parsed_suffix,parsed_nickname
0,0,0,,Margaret,Myfanwe,Joseph,,Vanne
1,1,0,,Mortimer,,Morris-Goodall,,
2,2,0,,Derek,,Bryceson,,
3,3,0,,Louis,,Leakey,,
4,4,0,,Mary,,Leakey,,

In [19]:
first_merge = merged_results.merge(pc, left_on='level_1', right_on='comparison_index')

In [20]:
first_merge

,level_0,level_1,first_name,surname,comparison_index,origional_index,parsed_title,parsed_first,parsed_middle,parsed_last,parsed_suffix,parsed_nickname
0,1247,880,1.0,1.0,880,37,,Galileo,,Galilei,,
1,4326,880,1.0,1.0,880,37,,Galileo,,Galilei,,
2,4326,1247,1.0,1.0,1247,53,,Galileo,,Galilei,,

In [21]:
second_merge = first_merge.merge(pc, left_on='level_0', right_on='comparison_index')

In [22]:
second_merge

,level_0,level_1,first_name,surname,comparison_index_x,origional_index_x,parsed_title_x,parsed_first_x,parsed_middle_x,parsed_last_x,parsed_suffix_x,parsed_nickname_x,comparison_index_y,origional_index_y,parsed_title_y,parsed_first_y,parsed_middle_y,parsed_last_y,parsed_suffix_y,parsed_nickname_y
0,1247,880,1.0,1.0,880,37,,Galileo,,Galilei,,,1247,53,,Galileo,,Galilei,,
1,4326,880,1.0,1.0,880,37,,Galileo,,Galilei,,,4326,173,,Galileo,,Galilei,,
2,4326,1247,1.0,1.0,1247,53,,Galileo,,Galilei,,,4326,173,,Galileo,,Galilei,,